@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@font-face {
  font-family: 'TTTtangsbudaejjigaeB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
$max-width : 400px;

/* base styles */
* {
  margin: 0;
  font-family: "TTTtangsbudaejjigaeB";
}
body{
  color: #3F3F3F
}
.navbar {
  padding-top: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  max-width: $max-width;
  margin: 0 auto;
  
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #525252;
}
.content {
  max-width: $max-width;
  margin: 0px auto;
  padding: 20px;
  margin-bottom : 100px;
  height: 80%;
}


.my_div {
  width : 100%;
  text-align : center;
  align-items: center;
  align-content: center;
}
.home{
  align-content: center;
  align-items: center; /* 수직 정렬 */
  flex-direction: row; /* default: row */
  justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
  margin-bottom: 10px;
  
}

.my_bg {
  width:100%;
  height:100%;
  object-fit:cover;
}
.my_bg {
  // background-image: url("./img/11.png");
  width:  80%;
  aspect-ratio: 4 / 5;
}

h2{
  font-family: 'Noto Sans KR', sans-serif;
  color : #525252;
  text-align : center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.question_story {
  margin-top : 40px;
  margin-bottom : 30px;
}
.question_story text{
  line-height: 1.8;
  word-spacing: 2px;
  font-size: 1.2rem;
  font-weight: bold;
}
.question_bt {
  line-height: 1.8;
  width:  100%;
  height : 80px;
  margin-top : 20px;
  font-size: 1rem;
}

.sharediv{
  display: flex;
  align-items: center; /* 수직 정렬 */
  flex-direction: row; /* default: row */
  justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
}
.navbardiv{
  display: flex;
  align-items: center; /* 수직 정렬 */
  flex-direction: row; /* default: row */
  justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
}
.nextdiv{
  display: flex;
  align-items: center; /* 수직 정렬 */
  flex-direction: row; /* default: row */
  justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
}
.countingdiv{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center; /* 수직 정렬 */
  flex-direction: row; /* default: row */
  justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
  height : 48px;
}

#title{
  align-content: center;
  font-size:3rem;
  width: 100%;
}
#title{
  align-content: center;
  font-size:2.3rem;
  width: 100%;
  font-weight: bold;
}

#subtitle{
  font-size:1.5rem;  
  margin-top : -15px;
  margin-bottom : 20px;
  display: flex;
  align-items: center; /* 수직 정렬 */
  flex-direction: row; /* default: row */
  justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
}
.TESTER {
  margin-top : 40px;
  font-size: 1.3rem;
  display: flex;
  font-weight: bold;
  align-items: center; /* 수직 정렬 */
  flex-direction: row; /* default: row */
  justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
  color: #525252;
}
.TESTER_share text{
  margin-top : 40px;
  margin-bottom : -10px;
  font-size: 1.3rem;
  display: flex;
  font-weight: bold;
  align-items: center; /* 수직 정렬 */
  flex-direction: row; /* default: row */
  justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
  color: #525252;
}


.TESTER2 text{
  margin-top : 20px;
  margin-bottom : 20px;
  font-size: 1.3rem;
  display: flex;
  font-weight: bold;
  align-items: center; /* 수직 정렬 */
  flex-direction: row; /* default: row */
  justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
  color: #525252;
}
.TESTER4 text{
  margin-top : 10px;
  font-size: 1.3rem;
  display: flex;
  font-weight: bold;
  align-items: center; /* 수직 정렬 */
  flex-direction: row; /* default: row */
  justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
  color: #525252;
}
button {
  margin-top : 20px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  background-color: #3F3F3F;
  text-align: left     
}
.sharediv{
  margin-top: 10px;
  display: flex;
  align-items: end; /* 수직 정렬 */
  flex-direction: row; /* default: row */
  justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
}
.icon{
  
  display: flex;
  align-items: end; /* 수직 정렬 */
  flex-direction: row; /* default: row */
  justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
}
.character_info{
  
  display: flex;
  align-items: end; /* 수직 정렬 */
  flex-direction: row; /* default: row */
  justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
  width: 100%;
  margin-bottom: 40px;
}
.character_info div{

  width: 80%;
  font-weight: bold;
  color:#3F3F3F;
  align-content: start;
  text-align: left     
}
.character_info ul li span{
  justify-content: start; /* flex direction에 대해서 정렬방식 선택 */
}
span{
  color: black;
}
ul { padding-left: 5%; list-style-position:outside; }
li{
  // list-style: none;
  margin-top : 10px;
  list-style-type:disc; padding-left:-5%;
  float:left;
  text-align: left     
}
.question_story{
  padding-top : 20px;
  font-size: 1rem;
  font-weight: bold;
  align-content: center;

}
.sharetext text{
  font-size:1rem;
  font-size: 1rem;
  font-weight: bold;
  align-content: center;
}
.TESTER5 text{
  margin-bottom : 20px;
}
.TESTER5{
  
  margin-bottom : 40px;
}